body{
    color: #666666;
    background-color: #ffffff;}
h1{
    color: #ffffff;
    background-color: #000033;
    margin-bottom: 0;}
#nav{
    background-color: #90c7e3;}
h2{
    color: #3399cc;}
dt{
    color: #000033;}
.resort{
    color: #5C7FA3;}
